__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.env
.venv/
venv/
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.cache
*.bak
*.log
*.tmp
*.swp
*.zip
